{% extends "layout.html" %}

{% block body %}
<!-- form to submit a file to submit /post -->
<form action="/submit" method="post" enctype="multipart/form-data">
	<!-- code file -->
	<input type="file" name="code1">
	<select name="language1">
		{% for key, value in languages.items() %}
		<option value="{{ key }}">{{ value['display_name'] }}</option>
		{% endfor %}
	</select>


	<input type="file" name="code2">
	<!-- select langague -->

	<select name="language2">
		{% for key, value in languages.items() %}
		<option value="{{ key }}">{{ value['display_name'] }}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Submit">
</form>
{% endblock %}

